<!-- <h6>Angular Attributes</h6>
<h6>Attribute Decorator Example using directive</h6>
<input type="number" name="abc" attribute>
<h6>View Children Example</h6>
<alert></alert>
<alert type="danger"></alert>
<alert type="info"></alert>
<h6>View Child Example</h6>
<div #divElement>Tada!</div>
<h6>Element Ref Example </h6>
<element-ref></element-ref>
<h6>Content Children Example</h6>
<tabs>
    <tab title="One"></tab>
    <tab title="Two"></tab>
    <div #divElementchild></div>
</tabs>

<h6>Host Binding Example</h6>
<input type="text" host-binding> 
-->
<input type="button" count value="+">

